.container {
	&.align-content {
		display:flex;
		height: 100vh;
		// First wrap element
		flex-wrap: wrap;
		.box {
		  width: 100px;
		}

		&.flex-start {
			align-content: flex-start;	
		}

		&.flex-end {
			align-content: flex-end;
		}

		&.flex-center {
			align-content: center;
		}
		&.space-between {
			align-content: space-between;
		}
		&.space-around {
			align-content: space-around;
		}
		&.stretch {
			align-content: stretch;
		}
	}
 
}

