
.container {
  display:flex;
  //height: 100vh;  	

  &.flex-wrap {  	
 	 height: 100vh;
  	.box {
 	 width: 400px;
	}
  	flex-wrap: wrap;
  	//flex-direction: column;
  	//justify-content: space-around;
  }

  .flex-wrap-reverse {
  	.box {
 	 width: 100px;
 	 height: 400px;
	}
	flex-wrap: wrap-reverse;
  }
}

