//Flex Intro

/* We start writing out flexbox here. The above is just page setup */
.container {
  display:flex;
  &.direction-row {
  	flex-direction: row;
  }

  &.direction-column {
  	flex-direction: column;
  }

  &.direction-row-reverse {
  	flex-direction: row-reverse;
  }

  &.direction-column-reverse {
  	flex-direction:column-reverse;
  }

  .box{
  	padding: 20px;
  }
}