
.container {
  display:flex;
  //height: 100vh;  	

  &.flex-wrap {  	
 	 height: 100vh;
  	.box {
 	   width: 400px;
	   }
  	flex-wrap: wrap;
  	//flex-direction: column; // Change the top to bottom
  }

  &.flex-wrap-reverse {
    height: 100vh;
  	.box {
 	    width: 400px;
	   }
	   flex-wrap: wrap-reverse;
  }
}

