/* Alignment Horizantal*/
.container {
  display:flex;
  &.jc-flex-start {
    justify-content: flex-start;
  }

  &.jc-flex-end {
    justify-content: flex-end;
  }

  &.jc-center {
    justify-content: center;
  }

  &.jc-space-between {
    justify-content: space-between;
  }
  &.jc-space-around {
    justify-content: space-around;
  }
}



/* Flexbox Alignment vertical */

.container {
  &.align-items {
    display:flex;
    height: 100vh;
    .box {
      font-size: 20px;
    }

    // Container height is reqired for enabling vertical alignment
    &.start {
      align-items: flex-start;
    }

    &.end {
      align-items: flex-end;
    }

    &.center {
      align-items: center;
    }
    &.baseline {      
      align-items: baseline;
    }
    &.stretch {
      flex-wrap: wrap;
      //align-items: stretch;
    } 
  } 
}

.align-items {
  &.baseline {
    .box {
      font-size: 80px;  
    }
    .box1 {
      font-size: 30px;
    }

    .box3 {
      font-size: 150px;
    }

    .box4 {
      font-size: 200px;
    }    
  }
}





